/node_modules
/public/hot
/public/storage
/public/livewire
/public/mix-manifest.json
/public/css
/public/js

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
package-lock.json
